# Visual Studio Code settings
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# Visual Studio settings
.vs/
CMakeSettings.json

# Build directory
build/
GalaxyEngine/build/

# Output directories
GalaxyEngine/Videos
GalaxyEngine/Saves
GalaxyEngine/Screenshot_*
GalaxyEngine/Screenshots/
GalaxyEngine/compilerCommand.txt
GalaxyEngine/include/Memory/
GalaxyEngine/x64/
x64/

# Misc
*.diff
.clang-format
.scripts/
.github/
Saves/
